<!DOCTYPE html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="css/styles.css">
<title>PayUp! - Get paid on time</title>
</head>

<!-- HEADER --> 
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 text-center">PayUp!</h1>
        <p class="lead center text-center font-weight-lighter brand text-light">Makes billing easy.</p>
    </div>
</div>

<!-- BODY -->
<section class="d-flex justify-content-center">
    
    {{{ body }}}
    
</section>
</body>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

<script src="js/login.js"></script>
<script src="js/signup.js"></script>
<script src="js/invoiceForm.js"></script>

</html>