<!-- LOGIN FORM -->

<div class="card w-50" id="body">
    <div class="card-header">
        <h1 class="card-title">Sign in</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
              <label for="username/email">Email:</label>
              <input type="text" class="form-control" id="user" placeholder="Enter a username or email address" required>
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="Password" class="form-control" id="password" placeholder="Enter a password" required>
            </div>
            <button type="button" class="btn-sm" id="login-btn">Login</button>
          </form>
    </div>
    </div>
  
</section>
<p class="font-weight-light text-center">Don't have an account? Create one <a href="/signup">here</a></p>
