
        
        <!-- TITLE -->


      <div class="container card-body" >
        <h2 class="card-title text-center text-muted pb-5">Fill out the form to generate your custom invoice!</h2>
        
        <!-- PREVIOUS INVOICE TABLE -->       
        <div class="row">
          <div class="col-6 col-md-4 bg-light card">
            <h2 class="text-center text-success name">{{returnActive.name}}</h2>
        <p class="text-center text-dark name">{{returnActive.address}}</p>
          <hr>
            <button type="button" class="">Edit</button> 
          </div>

            <!-- INVOICE FORM -->          
          <div class="col-md-2"></div>
            <div class="col-8 col-sm-6 col-md-6">
                <form>
                    <div class="form-group">
                      <label for="order">Order #</label>
                      <input type="text" class="form-control" id="order" placeholder="Order Number">
                    </div>
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter Name">
                    </div>
                    <div class="form-group">
                        <label for="product">Product</label>
                        <input type="text" class="form-control" id="product" placeholder="Enter Product">
                      </div>
                    
                      <div class="form-group">
                        <label for="name">Quantity</label>
                        <input type="text" class="form-control" id="quantity" placeholder="Number of Products">
                      </div>
                    
                      <div class="form-group">
                        <label for="name">Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter Price">
                      </div>
                    
                      <div class="form-group">
                        <label for="name">In Stock</label><br/>
                        <select name="subject" id="subject">
                            <option value="" selected="selected">Choose Option</option>
                            <option value="" selected="selected">Yes</option>
                            <option value="" selected="selected">No</option>
                          </select>
                      </div>
                      <button type="submit">Submit</button>
                  </form>
            </div>
        </div>
      </div>
      