<section class="card w-50">
<div id="id01" >
        <form id="sign">
          <div class="card-header">
            <h1 class="card-header">Sign Up</h1>
            <hr>
            <div class="card-body">
            <label for="username"><b>User/business name</b></label>
            <input type="text" placeholder="Enter User Name" name="username" id="username" required>
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
            <label for="email"><b>Address</b></label>
            <input type="text" placeholder="Enter Address" name="address" id="address" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="password" required>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="confirm-password" required>
            <div class="clearfix">
              <button type="button" onclick="" class="cancelbtn">Cancel</button>
              <button type="button" class="signupbtn" id="signup">Sign Up</button>
            </div>
          </div>
          </div>
        </form>
      </div>
      </section>