<div class="card">
  <div class="card-body">
    <h4 class="card-title">Success!</h4>
    <h6 class="card-subtitle mb-2 text-muted">Account created</h6>
    <p class="card-text">
      You're account has been successfully created!
    </p>
    <button id="continue">Proceed to login</button>
  </div>
</div>
